<quartz>


	<!-- Configure Job Store -->
	<add key="quartz.jobStore.misfireThreshold" value="60000" />
	<add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
	<add key="quartz.jobStore.useProperties" value="true" />
	<add key="quartz.jobStore.dataSource" value="default" />
	<add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
	<add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />

	<add key="quartz.dataSource.default.connectionString" value="Server=.\sqlexpressr2;Database=QuartzPOC;Trusted_Connection=True;"/>

	<add key="quartz.dataSource.default.provider" value="SqlServer-20" />
</quartz>